<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hellex International Company</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <header>
        <div class="px-3 py-2 text-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-dark text-decoration-none">
                        <img src="images/new.png" alt="Hellex International Logistics">
                    </a>

                    <ul class="nav col-12 col-lg-auto my-0 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                +254 726 511953
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-dark">
                                <i class="bi bi-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-dark">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-dark">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-dark">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <form>
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>
                    <div class="container d-flex flex-wrap justify-content-end">
                        <div class="text-end">
                            <ul class="nav col-12 col-lg-auto my-0 justify-content-center my-md-0 text-small">
                                <li>
                                    <a href="/" class="nav-link text-secondary">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="about.html" class="nav-link text-dark">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="services.html" class="nav-link text-dark">
                                        Services
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html" class="nav-link text-dark">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html" class="nav-link text-dark">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>